/* Background: $link_color;*/
.jqu-lightroom .sppb-carousel-extended-content-wrap, .page-item.active .page-link, .page-item.active .page-link:hover {
  background: #1b1c21;
}
/* Border color: $link_color;*/
.page-item.active .page-link, .page-item.active .page-link:hover {
  border-color: #1b1c21;
}
/* Color: $text_color;*/
.jqu-blog .sppb-addon-article {
  color: #999;
}
/* Color: $link_color;*/
.article-list .article .article-header h1 a, .article-list .article .article-header h2 a, .article-details .article-header h1, .article-details .article-header h2 {
  color: #1b1c21;
}
/* Color: $link_color_hover;*/
.sp-page-title .sp-page-title-sub-heading {
  color: #9a7333;
}
