.vistt {
    position: absolute;
    z-index: 1080;
    display: block;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    opacity: 0;
}
.vistt.show {
    opacity: 0.9;
}
.vistt .tooltip-arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}
.vistt .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.vistt.bs-tooltip-top, .vistt.bs-tooltip-auto[data-popper-placement^=top] {
    padding: 0.4rem 0;
}
.vistt.bs-tooltip-top .tooltip-arrow, .vistt.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
    bottom: 0;
}
.vistt.bs-tooltip-top .tooltip-arrow::before, .vistt.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    top: -1px;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}

.vistt.bs-tooltip-end, .vistt.bs-tooltip-auto[data-popper-placement^=right] {
    padding: 0 0.4rem;
}
.vistt.bs-tooltip-end .tooltip-arrow, .vistt.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.vistt.bs-tooltip-end .tooltip-arrow::before, .vistt.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    right: -1px;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[data-popper-placement^=bottom] {
    padding: 0.4rem 0;
}
.vistt.bs-tooltip-bottom .tooltip-arrow, .vistt.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
    top: 0;
}
.vistt.bs-tooltip-bottom .tooltip-arrow::before, .vistt.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    bottom: -1px;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
}

.vistt.bs-tooltip-start, .vistt.bs-tooltip-auto[data-popper-placement^=left] {
    padding: 0 0.4rem;
}
.vistt.bs-tooltip-start .tooltip-arrow, .vistt.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}
.vistt.bs-tooltip-start .tooltip-arrow::before, .vistt.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    left: -1px;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
}

.vistt .tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
}